/*****************
 * SASS VARIABLES
 *****************/

 // Constants
$BLACK:     black;                 // 000
$BLUE_GREY: slategrey;             // 708090
$DARK:      lighten(black, 19.5%); // 323232
$GREY:      grey;                  // 808080
$LIGHT:     darken(white, 17.2%);  // d3d3d3
$RED:       indianred;             // cd5c5c
$WHITE:     white;                 // fff