common:
	build: server: false
	browser: open: false, reload: false

	dist:
		client:
			paths:
				absolute: false

	exclude:
		default:
			client:
				files: true
		from:
			minFile:
				scripts: [
					'scripts/**/*.js'
				]

	extra:
		copy:
			client: [
				'package.json'
			]

	inline:
		htmlAssets:
			dev: true
			enable: true

		jsHtmlImports:
			client:
				enable: true

	minify:
		cacheBust: false
		html:
			templateCache: false
		css:
			fileName:
				'rb-input.css'
		client:
			js:
				es6: true
				enable: false # temporarily until build is fixed
				fileName: 'rb-input.js'
		server:
			js:
				es6: true