<div
	?disabled="${props.disabled}"
	?readonly="${props.readonly}"
	class="
		form-control
		${props.kind || 'default'}
		${props.right ? 'right' : ''}
		${props.label && 'with-label'}
		${props.inline ? 'inline' : ''}
		${props._active ? 'active' : ''}
		${props._valid ? 'valid' : 'invalid'}
		${state.slots.popover ? 'with-popover' : ''}
		${props.label && (props._active || props.placeholder || props.value) && 'label-above'}
		${props.iconKind
			? props.iconPosition
				? `icon-${props.iconPosition}`
				: 'icon-right'
			: ''
		}
	">
	${props.label || state.slots.popover
		? html`
			<div class="label">
				${state.slots.popover
					? html`<slot name="popover"></slot>`
					: null
				}
				${props.label
					? html`<label for="input">${props.label}</label>`
					: null
				}
			</div>
		`: null
	}
	<div class="input-wrap">
		<input
			id="input"
			?disabled="${props.disabled}"
			?readonly="${props.readonly}"
			.value="${props.value}"
			name="${props.name}"
			type="${props.type || 'text'}"
			placeholder="${props.placeholder}"
			@blur="${this._onblur.bind(this)}"
			@focus="${this._onfocus.bind(this)}"
			@input="${this._oninput.bind(this)}">
		${props.iconKind
			? html`
				<rb-icon
					?burst="${props.iconBurst}"
					?pulse="${props.iconPulse}"
					?spin="${props.iconSpin}"
					kind="${props.iconKind}"
					flip="${View.ifDefined(props.iconFlip || undefined)}"
					speed="${View.ifDefined(props.iconSpeed || undefined)}"
					rotate="${View.ifDefined(props.iconRotate || undefined)}"
					source="${View.ifDefined(props.iconSource || undefined)}">
				</rb-icon>`
			: null
		}
		<b class="focus-line"></b>
	</div>
	${props._eMsg || props.subtext
		? html`<span class="subtext">${props._eMsg || props.subtext}</span>`
		: null
	}
</div>

<link rel="stylesheet" href="../styles/rb-input.css">