<div
	disabled?="${props.disabled}"
	class$="
		rb-input
		${props.kind || 'default'}
		${props.right ? 'right' : ''}
		${props.inline ? 'inline' : ''}
		${props._valid ? 'valid' : 'invalid'}
		${props._active ? 'active' : ''}
		${props.label && 'with-label'}
		${props.label && (props._active || props.placeholder || props.value) && 'label-above'}
		${props.icon
			? props.iconPosition
				? `icon-${props.iconPosition}`
				: 'icon-right'
			: ''
		}
	">

	${props.label
		? html`<label for="input">${props.label}</label>`
		: null
	}

	<input
		id="input"
		value="${props.value}"
		type="${props.type || 'text'}"
		placeholder="${props.placeholder}"
		on-blur="${this._onblur.bind(this)}"
		on-focus="${this._onfocus.bind(this)}"
		on-input="${this._oninput.bind(this)}">

	<b class="input-focus-line"></b>

	${props.icon
		? html`
			<rb-icon
				kind="${props.icon}"
				source$="${props.iconSource}">
			</rb-icon>`
		: null
	}

	${props._eMsg || props.subtext
		? html`<span class="subtext">${props._eMsg || props.subtext}</span>`
		: null
	}
</div>

<link rel="stylesheet" href="../styles/rb-input.css">