<div
	disabled$="[[disabled]]"
	class$="rb-input [[_right(right)]] [[_iconPosition(iconPosition, icon)]]">
	<label for="input">[[label]]</label>
	<input id="input" class$="[[kind]]" value="{{value::input}}" type$="[[type]]">
	<b class="input-focus-line"></b>
	<template is="dom-if" if="{{icon}}">
		<rb-icon
			kind="[[icon]]"
			source="[[iconSource]]">
		</rb-icon>
	</template>
	<span class$="[[_setSubtext(_subtext)]]">[[_subtext]]</span>
</div>

<link rel="stylesheet" href="../styles/rb-input.css">