/*******
 * HOST
 *******/
:host {
	all: initial; // reset all styles first
	// paint cuts off the label above
	// layout prevents popover from being over everything
	contain: style;
}

:host {
	width: 100%;
	margin-bottom: 25px;
	display: inline-block;
}
:host([inline]) {
	width: auto;
	margin-right: 25px;
}
:host([inline][right]) {
	margin-right: 0;
	margin-left: 25px;
}