/***************
 * POPOVER SLOT
 ***************/
::slotted([slot="popover"]) {
	--rb-popover-trigger-transition: none; // match label transition
	--rb-popover-default-caption-bg: #f7f7f7 !important; // match popover neutral colors
	--rb-popover-default-caption-color: #5f6e7e !important;
	--rb-popover-default-trigger-color: 'inherit' !important; // match control state color
	--rb-popover-default-trigger-color-hover: 'inherit' !important;
	--rb-popover-trigger-opacity: .75; // lighten up color
	--rb-popover-trigger-opacity-hover: .55;
	.active &, .invalid & {
		--rb-popover-trigger-opacity: .8;
		--rb-popover-trigger-opacity-hover: .6;
	}
}

.with-label ::slotted([slot="popover"]) {
	position: relative;
	left: -1px;
	margin-right: 3px;
}

.form-control:not(.with-label).with-popover {
	.label {
		position: absolute;
		top: 1.5px;
		margin-bottom: 0;
	}

	&.icon-left {
		input { padding-left: 2.35em; }
	}
	&.icon-right {
		input { padding-right: 2.4em; }
	}
	&:not([class*='icon-']) {
		&:not(.right) {
			input { padding-left: 1.35em; }
		}
		&.right {
			input { padding-right: 1.35em; }
		}
	}

	&.right {
		&.icon-left {
			.label { right: calc(#{$MAX_WIDTH} - 2.2em); }
		}
		&.icon-right {
			.label { right: 1.26em; }
		}
	}
	&:not(.right) {
		&.icon-left {
			.label { left: 1.26em; }
		}
		&.icon-right {
			.label { left: calc(#{$MAX_WIDTH} - 2.2em); }
		}
	}
}