& {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 167px;
	margin-bottom: remy(20); // 25

	/* Font Size
	 ************/
	font-size: remy(16);
	input, rb-icon { font-size: remy(15.5); }
	input::placeholder { font-size: remy(13); }
	rb-icon { font-size: remy(15); }
	.subtext { font-size: remy(13); }

	/* Font Weight
	 **************/
	font-weight: 300;
	input { font-weight: 400; }
	input::placeholder { font-weight: 300; }

	/* Letter Spacing
	 *****************/
	letter-spacing: .06em;
	input { letter-spacing: .01em; }
	input::placeholder { letter-spacing: .03em; }

	/* Line Height
	 **************/
	line-height: remy(16);
	input { line-height: remy(16); }
	label { line-height: remy(24); }
}