& {
	display: flex;
	max-width: 167px;
	position: relative;
	flex-direction: column;
	box-sizing: border-box;
	margin-bottom: 25px;

	input {
		display: inline-block;
		box-sizing: border-box;
		border: none;
		border-bottom: 1px solid;
		border-bottom-color: $GREY;
		border-radius: 0;
		color: #323232;
		width: 100%;
		padding: 0 0 8px 0;
		font-size: inherit;
		outline: none;
		word-spacing: normal;
		text-transform: none;
		text-indent: 0px;
		text-shadow: none;
		text-align: start;
		letter-spacing: 0.04em;

		&::placeholder {
			color: #b2b2b2;
			font-size: .9em;
			font-style: italic;
		}
	}

	&.right {
		direction: rtl;
	}

	&.with-label {
		margin-top: 25px;
	}

	&.inline {
		display: inline-flex;
		margin-right: 25px;
	}
}