rb-icon {
	position: absolute;
	top: 0;
}

&.icon-left {
	rb-icon {
		left: 0;
	}
	input, label {
		padding-left: 23px;
	}

	&.label-above {
		label {
			padding-left: 0;
		}

	}
}

&.icon-right {
	input{
		padding-right: 23px;
	}
	rb-icon {
		right: 0;
	}
}

&.right {
	label {
		padding-right: 20px;
	}

	&.label-above {
		label {
			padding-right: 0;
		}

	}

	&.icon-left {
		rb-icon {
			padding-left: 0;
		}

		label {
			padding-right: 0;
		}
	}
}

