/*******
 * ICON
 *******/
rb-icon {
	position: absolute;
	top: 3px;
	color: mapGet($formControlColors, text, icon, default);
}

&.icon-left {
	rb-icon {
		left: 0;
	}
	input, label {
		padding-left: 23px;
	}

	&.label-above {
		label {
			padding-left: 0;
		}
	}
}

&.icon-right {
	input{
		padding-right: 23px;
	}
	rb-icon {
		right: 0;
	}
}