/********
 * INPUT
 ********/
input {
	width: 100%;
	padding: 1px 0 6px;
	box-sizing: border-box;
	outline: none;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	text-align: start;
	color: mapGet($formControlColors, text, input, default);
	border: none;
	border-radius: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: mapGet($formControlColors, borders, input, default);
	&:focus {
		border-bottom-color: mapGet($formControlColors, borders, input, focus);
	}
	&:hover {
		border-bottom-color: mapGet($formControlColors, borders, input, hover);
	}
}

/* Input Focus Line
 *******************/
.input-focus-line {
	position: relative;
	top: -1.5px;
	height: 2px;
	opacity: 0;
	transform: scaleX(0);
	transform-origin: 123.422px center 0;
	transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: mapGet($formControlColors, bg, focusLine, active);
}