/*********
 * STATES
 *********/
&.active {
	label,
	rb-icon {
		color: mapGet($formControlColors, text, active, default);
	}
	.input-focus-line {
		opacity: 1;
		transform: scaleX(1);
	}
}

/* Invalid
 **********/
&.invalid {
	label,
	rb-icon,
	.subtext {
		color: mapGet($formControlColors, text, invalid, default);
	}
	input {
		border-bottom-color: mapGet($formControlColors, borders, invalid, default);
	}
	.input-focus-line {
		transform: none;
		transition: none;
		background-color: mapGet($formControlColors, bg, invalid, default); // red
	}
}